@mixin loading-theme() {
    .loading-screen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-weight: bold;
        p,
        img {
            flex: 0 1 auto;
        }
    }
}

@include loading-theme()