<md-toolbar color="primary">
    <a md-button (click)="openStart()">
        <md-icon>menu</md-icon>
    </a>
    <span fxFlex>Heroes Wireframe Beta v1</span>
    <a md-button (click)="openEnd()" >
        <md-icon>folder</md-icon>
    </a>
</md-toolbar>

<md-sidenav-container fxFlex>


    <md-sidenav mode="over" align="start" [opened]="(sideNavs$ | async).start">
        <div fxLayout="column">
            <a md-button (click)="closeStart()" (keyup.enter)="closeStart()" fxFlexAlign="end">
                <md-icon>keyboard_arrow_right</md-icon>
            </a>
            <p>List Goes here sdfafsfasfasd</p>
        </div>
    </md-sidenav>

    <header>

    </header>

    <main fxLayout="column" fxLayoutAlign="center center">

        <h1>Main Content Goes here</h1>
        <p>This is using Angular/Flex-Layout</p>
    </main>

    <footer>

    </footer>


    <md-sidenav mode="side" align="end" [opened]="(sideNavs$ | async).end"
    (close)="onClose($event)">
        <div fxLayout="column">
            <a md-button (click)="closeEnd()" (keyup.enter)="closeEnd()" fxFlexAlign="start">
                <md-icon>keyboard_arrow_left</md-icon>
            </a>
            <p>Secondary Content Goes here</p>
        </div>
    </md-sidenav>

</md-sidenav-container>