<md-toolbar color="primary">
    <span>Heroes Wireframe Beta v1</span>
</md-toolbar>

<md-sidenav-container fxFlex>

    <header>

    </header>

    <main fxLayout="column" fxLayoutAlign="center center">
        <h1>Main Content Goes here</h1>
        <p>This is using Angular/Flex-Layout</p>
    </main>

    <footer>

    </footer>


    <md-sidenav mode="side" align="end" opened="true">
        <div fxLayout="column">
            <h1>Side Nav</h1>
            <p>Secondary Content Goes here</p>
        </div>
    </md-sidenav>

</md-sidenav-container>