/* You can add global styles to this file, and also import other style files */

.launch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: bold;
}

.launch > p,
.launch > img {
    flex: 0 1 auto;
}