/* You can add global styles to this file, and also import other style files */
@import "./css/material-icons.css";

html,
body, md-sidenav-container {
    display: flex;
    flex-direction: column !important;
    height: 100%;
    margin: 0;
}